.merriweather-sans {
  font-family: "Merriweather Sans", sans-serif;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
}

.lora {
  font-family: "Lora", serif;
}

code {
  font-family: "Roboto Mono", monospace;
}
