/* robinbb.css */

.audiowide {
  font-family: "Audiowide", sans-serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}

.merriweather-sans {
  font-family: "Merriweather Sans", sans-serif;
}

.pt-sans-narrow {
  font-family: "PT Sans Narrow", sans-serif;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
}

code {
  font-family: "Roboto Mono", monospace;
}

a, .nested-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.granola-dark {
  background-color: #242934;
}

a:hover, .nested-links a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: #EDA13A;
  -webkit-text-decoration-color: #EDA13A;
}

a.button {
  color: white;
  background-color: #EDA13A;
  font-family: "PT Sans Narrow", sans-serif;
}

.twitter:hover, .instagram:hover, .github:hover, .gitlab:hover, .linkedin:hover {
  fill: #EDA13A;
}

#default-single-content-wrapper p:first-child {
  margin-top: 0;
}

ul {
  padding-left: 1em;
}
