<nav
 class="pa3"
 role="navigation"
 ><div
   id="partial-site-nav-outer-div"
   class="flex-ns justify-between items-center"
   ><a
     href="{{ .Site.Home.RelPermalink }}"
     class="w-50 audiowide f2 dib"
     >{{ with .Site.Params.site_logo }}<
      img src="{{ . }}"
      class="w100 mw5-ns"
      alt="{{ $.Site.Title }}"
      />{{ else }}{{ .Site.Title }}{{ end }}
    </a>
    <div
     id="partial-site-nav-right-menu"
     class="flex-ns items-center justify-between"
     >{{ partial "i18nlist.html" . }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
