<nav
 id="site-nav"
 class="pa3 pb5"
 role="navigation"
 ><div
   id="site-nav-div"
   class="flex flex-column flex-row-ns justify-between"
   ><div
     id="site-nav-logo"
     class=""
     ><a
       href="{{ .Site.Home.RelPermalink }}"
       class="audiowide f1"
       >{{ .Site.Title }}</a>
    </div>
    <div
     id="site-nav-i18nlist"
     class="red"
     >{{/* partial "i18nlist.html" . */}}</div>
    {{ if (and (not (eq .Site.Home.RelPermalink .RelPermalink)) .Site.Menus.main) }}
    <ul
     class="nested-list-reset pa0"
     >{{ range .Site.Menus.main }}
      <li
       class="di pr3 pr0-ns pl0 pl3-ns"
       ><a
         class="f4"
         href="{{ .URL }}"
         title="{{ .Name }}"
	 >{{ .Name }}</a></li>
      {{ end }}
    </ul>
  {{ end }}
  </div>
</nav>
