<nav
 id="site-nav"
 class="ph3 pt4 pb5"
 role="navigation"
 ><div
   id="site-nav-div"
   class="cf"
   ><div
     id="site-nav-logo"
     class="w-100 pb4 w-auto-l fl-l"
     ><a
       href="{{ .Site.Home.RelPermalink }}"
       class="audiowide f1"
       >{{ .Site.Title }}</a>
    </div>
    <div
     id="site-nav-social-follow"
     class="w-100 pb3 w-auto-l fr-l"
     >{{ partial "social-follow.html" . }}</div>
    <div
     id="site-nav-i18nlist"
     class="dib red"
     >{{/* partial "i18nlist.html" . */}}</div>
    {{ if (and (not (eq .Site.Home.RelPermalink .RelPermalink)) .Site.Menus.main) }}
    <div
     class="w-100 w-auto-l mt1 fr-l"
     >{{ range .Site.Menus.main }}
      <a
       class="f3 mr4"
       href="{{ .URL }}"
       title="{{ .Name }}"
       >{{ .Name }}</a>
      {{ end }}
    </div>
    {{ end }}
    </div>
  </div>
</nav>
