<nav
 class="pv3 ph3"
 role="navigation"
 ><div
   id="partial-site-nav-outer-div"
   class="flex-l justify-between items-center"
   ><a
     href="{{ .Site.Home.RelPermalink }}"
     class="audiowide f2 dib"
     >{{ with .Site.Params.site_logo }}<
      img src="{{ . }}"
      class="w100 mw5-ns"
      alt="{{ $.Site.Title }}"
      />{{ else }}{{ .Site.Title }}{{ end }}
    </a>
    <div
     id="partial-site-nav-right-menu"
     class="flex-l items-center"
     >{{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
      <ul
       class="pl0 mr3">
        {{ range .Site.Menus.main }}
        <li
         class="list f5 f4-ns fw4 dib pr3"
         ><a
           href="{{ .URL }}"
           title="{{ .Name }}"
           >{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
