{{ define "main" }}
  <article
   id="default-list-article"
   class="pa3 nested-copy-line-height nested-img"
   ><header
     ><section
       id="default-list-header-description"
       class="f4 tc-l"
       >{{- .Description -}}
      </section>
    </header>
    <section
     id="default-list-section-content"
     class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy"
     >{{- .Content -}}
    </section>
    <section
     id="default-list-section-pages"
     class="flex-ns flex-wrap justify-between"
     >{{ range .Paginator.Pages }}
      <div
       class="relative w-100 w-30-l mb3"
       >{{- partial "summary.html" . -}}</div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
