{{ define "main" }}
<article
 id="default-list-article"
 class="pa3 nested-copy-line-height nested-img"
 ><h2 class="f1 tc ma3 mb5">{{i18n "taxonomyPageList" .}}</h2>
  {{ with .Content }}
  <section
   id="default-taxonomy-section-content"
   class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray"
   >{{- . -}}</section>
  {{ end }}
  <section
   id="default-taxonomy-section-pages"
   class="flex-ns flex-wrap justify-around"
    >{{ range .Pages }}
     <div
      class="relative w-100 w-30-l mb3"
      >{{- partial "summary.html" . -}}</div>
     {{ end }}
  </section>
</article>
{{ end }}
