{{ define "main" }}
<article
 id="default-terms-article"
 class="cf pa3 pa4-m pa4-l"
 ><div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links nested-img">
    {{ .Content }}
  </div>
  <h2 class="f1 tc ma3 mb5">Taxonomy Terms</h2>
</article>
<div
 id="default-terms-outer-div"
 class="mw8 center"
 ><section class="ph4">
  {{ range $key, $value := .Data.Terms }}
  <h2 class="f2"
   ><a
     href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}"
     class="link hover-black"
     >{{ $.Data.Singular | humanize }}: {{ $key }}</a>
  </h2>
  {{ range $value.Pages }}
  {{ partial "summary.html" . }}
  {{ end }}
  {{ end }}
  </section>
</div>
{{ end }}
