{{ define "header" }}
<nav
 id="landing-page-nav"
 class="pa3 pb5"
 role="navigation"
 ><div
   id="landing-page-nav-div"
   class="flex flex-column flex-row-ns justify-between bb"
   ><div
     id="landing-page-nav-logo"
     class=""
     ><div
       class="audiowide f1 b"
       >{{ .Site.Title }}</div>
    </div>
    <div
     id="site-nav-i18nlist"
     class="red"
     >{{/* partial "i18nlist.html" . */}}</div>
  </div>
</nav>
{{ end }}
{{ define "main" }}{{ .Content }}{{ end }}
{{ define "footer" }}
<footer></footer>
{{ end }}
